.Professional-Data {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 2px dashed coral;
  background-color: lightgoldenrodyellow;
  align-items: center;
}

.Professional-Data-form,
.Professional-Data-txt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 10px;
  font-size: 1.5rem;
}

:is(.Professional-Data-form, .Professional-Data-txt) button {
  justify-self: center;
}

:is(.Professional-Data-form, .Professional-Data-txt) + :is(form, div) {
  padding-top: 10px;
  border-top: 1px solid black;
}

.company-title,
.position-title,
.job-description {
  grid-column: 1/3;
  word-wrap: break-word;
}

#job-description {
  width: 100%;
}
